*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(latar.png) no-repeat center center/cover !important;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 500px;
    height: 300px;
    background-color: rgba(209, 207, 207, 0.3);
    backdrop-filter: blur(5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    padding: 20px;
    color: #fff;
    max-width: 500px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}

.container h2{
    text-align: center;
    color: #333;
    font-size: 32px;
    margin-top: 15px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.button-user{
    position: absolute;
    background-color: black;
    border: none;
    color: #ffffff;
    width: 190px;
    height: 50px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 30px;
    cursor: pointer;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button-user:hover{
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button-yayasan{
    position: flex;
    background-color: black;
    border: none;
    color: #ffffff;
    width: 190px;
    height: 50px;
    margin-left: 240px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button-yayasan:hover{
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.active-1 {
    text-decoration: none;
    color: aqua;
}

.active-2 {
    text-decoration: none;
    color: aqua;
}

.button {
    background-color: rgb(21, 70, 207);
    width: 400px;
    height: 40px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 10px;
}

.button:hover{
    background-color: #ffffff;
    color: rgb(21, 70, 207);
}

.footer-1{
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-left: 120px;
    margin-top: 30px;
    color:rgb(0, 0, 0);
}

.footer-2{
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-decoration: none;
    color:rgb(82, 199, 245) ;
    margin-left: 5px;
}