* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-image: url(image/bg.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}

.body-container {
  width: 450px;
  height: 780px;
  top: 50%;
  left: 50%;
  padding: 20px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: rgb(82, 80, 80);
  margin-top: 100px;
  align-items: center;
}

.judul {
  text-align: center;
  font-size: 28px;
  margin-bottom: 5px;
  font-family: "poppins", sans-serif;
  color: rgb(255, 255, 255);
}

.subjudul {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: "poppins", sans-serif;
  color: rgb(255, 255, 255);
}

hr {
  margin-bottom: 20px;
}

.form {
  margin-top: 30px;
}

.form-label {
  font-family: "poppins", sans-serif;
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-bottom: 5px;
  padding: auto;
  font-weight: bold;
  display: block;
}

form .form-control {
  background: rgba(0, 0, 0, 0.7);
  padding: 12px 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.5);
  color: #fff;
  max-width: 400px;
  width: 100%;
  margin: 8px, 0px;
  display: inline-block;
  box-sizing: border-box;
}

.input-box {
  width: 100%;
  margin-top: 15px;
}

.input-select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.input[type="file"] {
  background: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px;
  background: rgba(0, 0, 0, 0.7);
}

.input-radio-money {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 3px;
  font-family: "poppins", sans-serif;
  cursor: pointer;
  align-items: center;
}

.input-radio-stuff {
  display: flex;
  gap: 10px;
  margin-top: 3px;
  margin-bottom: 5px;
  font-family: "poppins", sans-serif;
  cursor: pointer;
  align-items: center;
}

.kindof {
  position: relative;
  color: aliceblue;
  font-family: "poppins", sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: flexbox;
  align-items: left;
}

.kindof::before {
  content: "";
  width: 18px;
  height: 18px;
  justify-items: center;
  margin-right: 8px;
}

.input-checkbox-1 {
  display: flexbox;
  gap: 10px;
  margin-top: 5px;
  padding: 10px;
  cursor: pointer;
}

.input-checkbox-2 {
  display: flexbox;
  gap: 10px;
  margin-top: 5px;
  padding: 10px;
  cursor: pointer;
  margin-left: 40px;
}

.domestic {
  font-family: "poppins", sans-serif;
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

.international {
  font-family: "poppins", sans-serif;
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

.button {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 5px;
  background-color: rgb(255, 255, 255);
  font-family: "poppins", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #000000;
  color: antiquewhite;
}
